#OS		#FLAVOUR	#TYPE 	#PATH									#TITLE
WIN 	ALL 		JAR 	OpenCV-3.1.0/Win/opencv-310.jar 		opencv-310
WIN		ALL 		DLL 	OpenCV-3.1.0/Win/native
Linux 	32 			JAR 	OpenCV-3.1.0/Linux32/opencv-310.jar 	opencv-310
Linux 	32 			DLL 	OpenCV-3.1.0/Linux32/native
ALL 	ALL 		JAR 	Detector/Detector.jar 					Detector

